
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.slogon{
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  justify-self: center;
  align-self: center;
  padding: 3rem;
}


.slogon em{
  color:#EFEFEF;
}


.clock {
  width: 20rem;
  height: 20rem;
  border: 20px solid white;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  position: relative;
  padding: 2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  border-radius:500rem;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.second-hand{
  background-color: red;
  border-bottom-left-radius: 500rem;
  border-top-left-radius:500rem;
  height:2px;
}


  /* Mobile devices */
  @media only screen and (max-width: 767px) {
    /* CSS rules for mobile devices */
 body{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
 }
 .clock{
  width: 15rem;
  height: 15rem;
  border: 15px solid white;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  position: relative;
  padding: 2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
 }
  }
  
  /* Tablet devices */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* CSS rules for tablet devices */
    body{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
   }
   .clock{
    width: 15rem;
    height: 15rem;
    border: 15px solid white;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
   }
  }
 
